@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --legend-bg: #c8e6c9;
  --legend-text: #388e3c;
  --legend-border: #66bb6a;
}

.dark {
  --background: #ff0000;
  --foreground: #00f6ea;

  --legend-bg: #2e7d32;
  --legend-text: #a5d6a7;
  --legend-border: #81c784;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.map {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: block;
}

.leaflet-control-attribution {
  display: none !important;
}

.leaflet-control-zoom {
  display: none !important;
}
