@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.map {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: block;
}

.leaflet-control-attribution {
  display: none !important;
}

.leaflet-control-zoom {
  display: none !important;
}
